<!-- 左侧菜单开始 -->
<div class="left-nav">
    <div id="side-nav">
    <ul id="nav">

        <!-- 用户管理 -->
        <li class="list">
            <a href="javascript:;">
                <i class="iconfont">&#xe70b;</i>
                用户管理
                <i class="iconfont nav_right">&#xe697;</i>
            </a>

            <ul class="sub-menu opened">
                <li>
                    <a href="../user/admin.html">
                        <i class="iconfont">&#xe6a7;</i>
                        管理员用户
                    </a>
                </li>
                <li>
                    <a href="../user/user.html">
                        <i class="iconfont">&#xe6a7;</i>
                        普通用户
                    </a>
                </li>
                
            </ul>
           
        </li>

        <!-- 商品管理 -->
        <li class="list">
            <a href="javascript:;">
                <i class="iconfont">&#xe70b;</i>
                商品管理
                <i class="iconfont nav_right">&#xe697;</i>
            </a>

            <ul class="sub-menu opened">
                <li>
                    <a href="../product/info.html">
                        <i class="iconfont">&#xe6a7;</i>
                        商品信息
                    </a>
                </li>
                <li>
                    <a href="../product/amount.html">
                        <i class="iconfont">&#xe6a7;</i>
                        修改数量
                    </a>
                </li>
                
            </ul>
           
        </li>

        
    </ul>
    </div>
</div>
<!-- 左侧菜单结束 -->