<!-- 底部开始 -->
<!-- <div class="footer" style="position: absolute;bottom: 0;"> -->
<div class="footer">

    <!-- <div class="copyright">版权所有@X-admin</div>   -->
</div>
<!-- 底部结束 -->
<div class="bg-changer">
    <div class="swiper-container changer-list">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img class="item" src="/static/X-admin/images/a.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="/static/X-admin/images/b.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="/static/X-admin/images/c.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="/static/X-admin/images/d.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="/static/X-admin/images/e.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="/static/X-admin/images/f.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="/static/X-admin/images/g.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="/static/X-admin/images/h.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="/static/X-admin/images/i.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="/static/X-admin/images/j.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="/static/X-admin/images/k.jpg" alt=""></div>
            <div class="swiper-slide"><span class="reset">初始化</span></div>
        </div>
    </div>
    <div class="bg-out"></div>
    <div id="changer-set"><i class="iconfont">&#xe696;</i></div>   
</div>